<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Data.WPF" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Markdown" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.SfGrid.WPF" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.Telemetry" version="34.2.7" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="34.2.7" targetFramework="net472" />
</packages>